.form-group:not(:first-child) {
    margin-top: 20px;
  }
  
  div > button:first-child {
    margin-right: 20px;
  }

  .form {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
    padding: 20px;
  }
  
  .form-buttons {
    margin-top: 20px;
  }

  .form-group label {
    font-weight: bold;
  }

  .principalHomeDark{
    background-color:#616464;
     height: 89.8vh;
     padding-top:250px !important;
     padding-bottom: 100px !important;
     color: black!important;
  }

  .principalProfileDark{
    background-color:#616464;
   height: 89.8vh;
   padding-top:3px !important;
   padding-bottom: 100px !important;
   color: black!important;
  }