.livrosContainer{
    padding: 20px 0 70px 0;
}

td {
    vertical-align: middle;
}

.imagensLivro {
    height: 200px;
    width: 150px;
}

.imagensLivroDestaque {
    height: 500px;
    width: 450px;
}


.themeDark-livros {
   
    color: #ffffff ;
}


.themeDark-livros:nth-of-type(odd)>* {
   
    color: #ffffff !important;
}
 


.themeDark-btn {
    background-color: #212529 !important;
    border: #212529 !important;
    color: #9a9d9e !important;
}
.themeDark-btn:hover {
    background-color: #212529a1 !important;
    border: #212529a1 !important;
}